:root {
    --act: #151515;
    --actc: rgb(202, 194, 194);
    --status-color: grey;
    --online-color: green;
    --offline-color: grey;
    --dnd-color: red;
    --idle-color: yellow;
    --card-col : #1a1a1a;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.online {
    color: var(--online-color);
}

.offline {
    color: var(--offline-color);
}

.dnd {
    color: var(--dnd-color);
}

.idle {
    color: var(--idle-color);
}

* {
    font-family: 'poppins', sans-serif;
    background-color: #0d0d0c;
    color: #fffdfd;
}

.name {
    margin: 5px;
    font-size: 50px;
}
.me {
    display: flex;
    align-items: center;
    /* Align items vertically */
    justify-content: center;
    /* Center items horizontally */
}

.discord {
    margin-right: 10px;
    /* Add margin-right for spacing */
}

.pic {
    width: 260px;
    height: 260px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* Add margin-left for spacing */
}

.all {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.tagl {
    text-align: center;
}

.at {
    color: #f7f7f7;
    margin: 5px;
}

.work {
    display: block;
    background-color: #fff32f2a;
    padding: 10px;
    border: rgb(79, 79, 63) solid 3px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 200px;
    font-size: 15px;
    text-align: center;
}

#artist {
    font-weight: bold;
    background-color: var(--act);
    color: #7d837f;
    margin: 0;
    margin-left: 10px;
    margin-bottom: auto;
    margin-top: auto;
}

.material-symbols-rounded:hover {
    text-align: center;
    background-color: #060707;
    color: #f7f7f7;
}

hr {
    margin: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: #313235 solid 2px;
}

.social-icons {
    text-align: center;
}
.item{
    color: #ffffff;
}
.navbar{
    border-radius: 10px;
    list-style-type: none;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: transparent;
}
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.social-icons a {
    text-align: center;
    margin: 15px;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.social-icons a:hover {
    color: #67491c;
}

.work:hover {
    background-color: #060707;
    color: rgb(224, 199, 75);
}

.list {
    background-color: var(--act);
    margin-top: auto;
    margin-bottom: auto;
}

#song {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 22px;
    background-color: var(--act);
    color: #1db954;
    margin-left: 10px;
}
#status {
    font-weight:bold;
    color: #a7aab1;
}
.status_div {
    display:flex;
    margin-left: 10px;
    justify-content: start;
    align-items: center;
}

.status_ball {
    display: block;
    margin-right: 5px;
    border: var(--status-color) solid 2px;
    border-radius: 100px;
    width: 7px;
    background-color: var(--status-color);
    height: 7px;
}

.pfp {
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    width: 110px;
    height: 110px;
}

.dclink {
    display: flex;
    background-color: var(--act);
    text-underline-position: hidden;
}

.dclink:link {
    text-decoration: none;
}
.badge{
    text-align: center;
}
.badge-item{
    
}
.topland {
    filter: drop-shadow(0.25rem 0.25rem 0.5rem #0e0e0e);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 10px;
    display: flex;
    background-color: var(--act);
    border-radius: 10px;
}

.projects {
    justify-content: center;
    margin: auto;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 20px 50px;
}

.card {
    background-color: var(--card-col);
    padding: 10px;
    border-radius: 10px;
    width: 90%;
}

.pname {
    background-color: var(--card-col);
    color: #f7f7f7;
    margin: 10px;
}
.pimg{
    margin: 10px;
    border-radius: 10px;
    width: 70px;
}
.pdesc {
    background-color: var(--card-col);
    color: #f7f7f7;
    margin-left: 10px;
}

.plink {
    display: block;
    background-color: var(--card-col);
    margin-left: 95%;
    
}
.card-git {
background-color: var(--card-col);
    padding: 10px;
    border-radius: 10px;
    width: 80%;
}
.himg{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
}
.title {
    background-color: var(--card-col);
    display: block;
}

@media screen and (max-width: 700px) {
    .projects {
        grid-template-columns: auto auto;
    }
        .badge {
            display: block;
            align-self: center;
        }
    .card {
        
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
    .card-git{
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
    .himg{
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .projects {
        grid-template-columns: 100%;
    }
        .status_div {
            display: flex;
            margin-left: 40px;
            justify-content: start;
            align-items: center;
        }
    .topland{
        width: 300px;
    }
                .himg {
                        width: 100%;
                }
                .me {
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
                .status_div{
                    text-align: center;
                }
                .status_ball{
                    margin-left: 120px;
                }
                .pic-container {
                    margin-bottom: 10px;
                }
                .card{
                    width: auto;
                }
                .card-git{
                    
                    display: block;
                    width: 100%;
                }
}
